QListView {
	background-color: transparent
}

QListView::item {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E3DBDB, stop: 1 #C8B7B7);
}

QListView::item:alternate {
    background: #EEEEEE;
}

QListView::item:selected {
    border: 1px solid #6a6ea9;
}

QListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E3DBDB, stop: 1 #C8B7B7);
}

QListView::item:selected:active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #6a6ea9, stop: 1 #888dd9);
}

QListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #DCDEF1, stop: 1 #FAFBFE );
}
